.App {
  /* position: relative; */
  margin: 0;
  padding: 0;
  /* align-self: center;
  justify-self: center; */
  /* justify-content: flex-start; */
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: url('./assets/outside_view.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  /* border: 1px solid royalblue; */
  /* aspect-ratio: 1.777; */
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.bottom-grad {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 132px;
  width: 100vw;
  background-image: linear-gradient(transparent, white);
  z-index: 1;
}

.routes-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  padding-top: 180px;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  padding: 2% 4% 0px 4%;
  width: 100%;
  bottom: 0px;
  overflow-y: scroll;
  min-height: max-content;
  /* border: 2px solid green; */
}