.App {
  position: relative;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  /* background-color: beige; */

  background-image: url('./assets/outside_view.jpg');
  background-position: center;
  height: 100vh;
  aspect-ratio: 1.777;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.top-grad {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  padding-top: 12px;
  background-image: linear-gradient(rgb(255, 213, 0), transparent);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: "center";
}

.nav-link-group {
  position: fixed;
  z-index: 1;
  top: 12px;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-bodies {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 126px;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 3% 5% 3% 5%;
  background-color: beige;
}