.App {
  position: relative;
  justify-content: flex-start;
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.bottom-grad {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 132px;
  width: 100%;
  background-image: linear-gradient(transparent, beige);
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 3% 5% 3% 5%;
  /* padding: 3% 5% 3% 5%; */
  min-height: max-content;
  /* border: 1px solid white; */
}

.routes-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  padding-top: 180px;
  background: url('./assets/outside_view.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  aspect-ratio: 1.777;
}